@import "@styles/variables";

.button {
  background-color: $light-10;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  font-size: $text-md;
  font-weight: $font-bold;
  color: $light-20;

  &Playback {
    width: 50px;
    border-radius: $br-radius-full;
  }

  &Action {
    padding: 0 40px;
    border-radius: $br-radius;
  }
}
