@import "../../../styles/variables.scss";

.film {
	flex: 0 1 23%;
	cursor: pointer;

	&Image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;

		&Wrapper {
			margin-bottom: 5px;
			height: 290px;
			position: relative;
		}
	}

	&Rating {
		position: absolute;
		top: 5px;
		right: 5px;
		background: $bg-color;
		border-radius: 50%;
		font-size: 13px;
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;

		font-weight: 800;
	}

	&Title {
		font-size: 13px;
		margin: 0;
	}

	@media screen and (max-width: 1015px) {
		flex: 0 1 30%;
	}

	@media screen and (max-width: 560px) {
		flex: 0 1 47%;
	}

	@media screen and (max-width: 480px) {
		flex: 0 1 100%;
	}
}
