@import "../../styles/variables";
.card {
  max-width: 200px;
  height: 300px;

  background: url("https://www.kinofilms.ua/images/photos/w680/363139.jpg");
  background-size: contain;

  // background-color: #769be06d;

  border-radius: 30px;
  // overflow: hidden;

  &Info {
    display: flex;
    flex-direction: column;
  }

  &Genre,
  &Title,
  &Description {
    margin: 0px;
    color: $light-20;
  }

  // &Img {
  //   width: 100%;
  // }
}
