@import "@styles/_variables.scss";

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 30px;
  background: $light-10;

  width: 200px;
  margin-left: 15px;
  padding: 5px 0px;

  &Info {
    &Name,
    &Email {
      font-size: 12px;
      margin: 0;
    }
  }
}
