@import "@styles/_variables.scss";

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: $br-radius;
  background: $light-10;

  max-width: 200px;
  width: 100%;
  padding: 5px 0px;

  &Info {
    &Name,
    &Email {
      font-size: 12px;
      margin: 0;
    }
  }
}
