@import "../../../styles/variables.scss";

.modal {
	&Active {
		position: fixed;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background: rgb(0, 0, 0, 0.4);

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&Body {
		width: 100%;
		max-width: 500px;
		min-height: 200px;
		background: $bg-color;

		border-radius: 5px;
		padding: 10px;

		transform: translateY(100vh);
		transition: all 0.5s ease;

		&Active {
			transform: translateY(0);
		}
	}

	&Header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&Title {
		margin: 0;
		font-size: 15px;
	}

	&Close {
		border: none;
		background: none;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
}
