@import "variables.scss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: $bg-color;
	color: $font-color;
}
