@import "../../../styles/variables.scss";

.button {
	background: none;
	border: none;
	outline: none;

	height: 30px;
	color: $font-color;
	background: orange;
	border-radius: 5px;
	cursor: pointer;
}
