@import "../../../styles/variables";

.title {
  font-family: $font;
  color: $black;

  &Big {
    font-size: $text-lg;
    font-weight: $font-bold;
  }
  &Medium {
    font-size: $text-md;
    font-weight: $font-regular;
  }
  &Small {
    font-size: $text-sm;
    font-weight: $font-light;
  }
}
