@import "../../../styles/global.scss";

.input {
	background: none;
	border: none;
	outline: none;

	height: 30px;
	color: $font-color;
	background: orange;
	padding: 0 10px;
	border-radius: 5px;

	&::placeholder {
		color: $font-color;
	}
}
