.film {
	display: flex;
	gap: 20px;
	padding: 5px;

	&Image {
		width: 100%;
		border-radius: 5px;

		&Wrapper {
			flex: 0 1 30%;
		}
	}

	&Details {
		flex: 0 1 70%;
	}

	&Title {
		margin: 0 0 10px;
		font-size: 15px;
	}

	&Breadcrumbs {
		display: flex;
		align-items: center;
		gap: 7px;
		margin-bottom: 7px;
	}

	&Breadcrumb {
		font-size: 10px;
		background-color: orange;
		padding: 0 8px;
		border-radius: 5px;
	}

	&Description {
		margin: 0;
		font-size: 12px;
		border-top: 1px solid gray;
		padding-top: 5px;
	}
}
