@import "@styles/variables";

.header {
  display: flex;
  align-items: center;

  // background-color: $secondary-low-transparent;
  border-radius: 30px;
  margin-bottom: 20px;
  min-height: 50px;

  &Input {
    max-width: 190px;
  }
}
