.header {
	padding: 20px 0;

	&Logo {
		color: orange;
		font-size: 25px;
		text-decoration: none;
		font-weight: 700;
	}

	&Wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
