@import "@styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 auto;
  max-width: 1020px;
  padding: 20px 30px;

  border-radius: 30px;
  background-color: $secondary;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;

  height: 86vh;
}
