@import "@styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 auto;
  max-width: 1020px;
  height: 100vh;

  padding: 0 10px;

  border-radius: 30px;
  background-color: $secondary;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 30px;

  height: 86vh;

  margin: 30px 40px;
}
